td.delinquent-cell {
  border: solid 0 #600;
  border-left-width:2px;
  padding-left:0.5ex;
}
td.late-cell {
  border: solid 0 #060;
  border-left-width:2px;
  padding-left:0.5ex;
}
tr.late-row {
  background-color: #fff;
}
tr.delinquent-row {
  background-color: #fcc;
}
a.email-link {
  color: #999;
}
