<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <h2>Member Donations for {{year}} ({{numMembers}} members)</h2>
  <form>
    <div class="form-group">
      <div class="input-group input-group-sm">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Search members" ng-model="searchMembers">
      </div>
    </div>
  </form>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>
          <a href="#" ng-click="sortReverse = !sortReverse">Member</a>
          <span ng-show="!sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortReverse" class="fa fa-caret-up"></span>
        </th>

        <th ng-repeat="month in months" ng-bind="month"></th>
      <tr>
    </thead>
    <tbody>
    <tr ng-class="{'delinquent-row': member.months[thisMonth-2]==0, 'late-row': member.months[thisMonth]==0}" ng-repeat="member in membersDict | toArray | orderBy:sortType:sortReverse | filter:searchMembers" >
      <td>
       <strong>{{member.firstname}} {{member.lastname}}</strong> ({{member.username}})<br>
       <span class="text-muted"><a class="email-link" href="mailto:{{member.email}}">{{member.email}}</a></span>
     </td>
      <td ng-class="{'delinquent-cell': $index==thisMonth-2, 'late-cell': $index==thisMonth+1}" ng-repeat="month in member.months track by $index">
        <button type="button" ng-click="togglePayment(member.username, $index)" class="btn" ng-class="{'btn-success': month==1, 'btn-danger': month!=1}" aria-label="Mark Accepted">
          <span class="glyphicon" ng-class="{'glyphicon-ok': month==1, 'glyphicon-remove': month!=1}" aria-hidden="true"></span>
        </button>
      </td>
    </tr>
    </tbody>
  </table>

</div>

<div ng-include="'components/footer/footer.html'"></div>
