<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    I'm here to help you through your monetary journey. 
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/table">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>Treasure Trove: Treasury Management</h4>
  <p>
    Treasure Trove is here to make your job as treasurer easier. It keeps track of payments, and handles emailing delinquent members.
  </p>

</div>
