<div class="container">
  <h2>Members</h2>

<!--
  <div ng-repeat='message in messages track by $index' class="alert alert-warning alert-dismissable fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
    {{ message }}
  </div>
-->
  <table class="table table-hover table-condensed">
    <tr>
      <th>Member</th>
      <th ng-repeat="month in months" ng-bind="month"></th>
    <tr>
    <tr ng-repeat="member in membersDict" >
      <td ng-bind="member.name" ></td>
      <td ng-repeat="month in member.months track by $index">
        <button type="button" ng-click="changeState($parent.$index, $index)" class="btn" ng-class="{'btn-success': month==1, 'btn-danger': month!=1}" aria-label="Mark Accepted">
          <span class="glyphicon" ng-class="{'glyphicon-ok': month==1, 'glyphicon-remove': month!=1}" aria-hidden="true"></span>
        </button>
      </td>
    </tr>
  </table>
</div>
